{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="courses">
        <div class="container courses_container">

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course7.jpg' %}">
            </div>
            <div class="course_info">
            <h4> UI/UX Designer Full Stack Developer</h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a> 
            </div>
        </article>
        

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course10.jpg' %}">
            </div>
            <div class="course_info">
            <h4>Responsive Newsletter Design for UI</h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course17.jpg' %}">
            </div>
            <div class="course_info">
            <h4>Responsive Admin Dashboard for UI </h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course16.jpg' %}">
            </div>
            <div class="course_info">
            <h4>Responsive Smart Home Website Design </h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course15.jpg' %}">
            </div>
            <div class="course_info">
            <h4>Responsive Smart Home Website Design </h4>
            <P>Clean, intuitive, adaptive UI for engaging social media.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course13.jpg' %}">
            </div>
            <div class="course_info">
            <h4>Responsive Beauty Products Website Design </h4>
            <P>Adaptive UI for engaging beauty product online on social media.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course11.jpg' %}">
            </div>
            <div class="course_info">
            <h4>Responsive modular Website Design </h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course12.jpg' %}">
            </div>
            <div class="course_info">
            <h4>Responsive Google Website Design </h4>
            <P>adaptive UI for engaging social media interactions on websites.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a>
            </div>
        </article>

        <article class="course">
            <div class="course_image">
            <img src="{% static 'images/course18.jpg' %}">
            </div>
            <div class="course_info">
            <h4>Responsive Smart Home Website Design </h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="/courses-form/" class="btn btn-primary" id="EnrollBtn">Enroll Now</a>
            </div>
        </article>

        </div>
    </section>

                                                     <!-- courses end ============================== -->

{% endblock content %}