{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
   
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'about.css'%}">
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz.css' %}">
    <link rel="stylesheet" href="{% static 'Course-form.css' %}">

    <link rel="stylesheet" href="{% static 'courses.css' %}">
    <link rel="stylesheet" href="{% static 'courses-form.css' %}">
    <link rel="stylesheet" href="{% static 'login-form.css' %}">
</head>
<body>
     <nav>
        <div class="container nav_container">
          <a href="Index.html"><h5>FutureLearn</h5></a>
            <ul class="nav_menu">
              <li><a href="/index/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/courses/">Courses</a></li>
              <li><a href="/quiz/">Quiz</a></li>
              <li><a href="/contact/">Contact</a></li>
              <li>
                {% comment %} <div class="btn-group"> {% endcomment %}
                    <a class="nav-item nav-link " style="color: #D19C97;"><i class="fa-regular fa-user">  </i>  {{user.username}}</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/logout/" class="nav-item nav-link" >Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="nav-item nav-link" >Register/Login</a>
                    {% endif %}
                {% comment %} </div> {% endcomment %}
              </li>
            </ul>
          </div>
     </nav>
                                            <!-- end of navbar =================================== ======-->