{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
      <div class="container header_container">
        <div class="header_left">
            <h1>Grow your skills to advance your career path</h1>
            <p>Education is the key to unlocking human potential and fostering societal progress. It encompasses the formal process of 
              acquiring knowledge, skills, values, beliefs, and habits. Education systems vary globally, but they typically include early 
              childhood education, primary and secondary education, higher education, and vocational training.
            </p>
            <a href="#" class="btn btn-primary">Get Started</a>
        </div>

        <div class="header_right">
          <div class="header_right-image">
            <img src="{% static 'images/header.png' %}">
          </div>
        </div>
      </div>
    </header>
                                             <!-- end of header =================================== ======-->

    <section class="categories">
        <div class="container categories_container">
           <div class="categories_left">
            <h1>Categories</h1>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quia officiis quibusdam delectus laudantium sit
              inventore minima blanditiis aliquid sint, mollitia magnam nulla corrupti quae labore eum. Repudiandae, excepturi aliquam!
            </P>
            <a href="#" class="btn">Learn More</a>
           </div>

           <div class="categories_right">
              <article class="category"> 
              <span class="category_icon"><i class="fa-solid fa-music" style="color:orange;"></i></span>
              <h5>Music</h5>
              <p>Music is a universal language that speaks to our emotions, memories, and experiences. </p>
              </article>

              <article class="category"> 
                <span class="category_icon"><i class="fa-solid fa-indian-rupee-sign" style="color:rgb(138, 226, 138)";></i></span>
                <h5>Finance</h5>
                <p>Finance is the management of money and investments.</p>
              </article>

               <article class="category"> 
                  <span class="category_icon"><i class="fa-solid fa-bag-shopping" style="color:rgb(133, 214, 255);"></i></span>
                  <h5>Marketing</h5>
                  <p>Marketing involves understanding preferences & deliver value to them.</p>
               </article>

               <article class="category"> 
                <span class="category_icon"><i class="fa-solid fa-shield-halved" style="color:rgb(125, 235, 255)"></i></span>
                <h5>Arts</h5>
                <p>Art is a diverse and expansive realm from painting and sculpture to literature, </p>
               </article>

               <article class="category"> 
                <span class="category_icon"><i class="fa-solid fa-computer" style="color:orange;"></i></span>
                <h5>Info. Tech</h5>
                <p>IT encompasses across industries, facilitating communication and driving innovation.</p>
               </article>
               
               <article class="category"> 
                <span class="category_icon"><i class="fa-brands fa-creative-commons-share" style="color:rgb(133, 255, 131);"></i></i></span>
                <h5>Psychology</h5>
                <p>Studies scientific and mental processe and behavior</p>
               </article>
           </div>
        </div>
    </section>

                                            <!-- end of category =================================== =====-->

    <section class="courses">
      <h2>Our Popular Courses</h2>
      <div class="container courses_container">

        <article class="course">
          <div class="course_image">
            <img src="{% static 'images/course1.jpg' %}">
          </div>
          <div class="course_info">
            <h4>Responsive Social Media Website UI Design</h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="{% static 'images/course2.jpg' %}">
          </div>
          <div class="course_info">
            <h4>Responsive Smart Home Website Design</h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="{% static 'images/course3.jpg' %}">
          </div>
          <div class="course_info">
            <h4>Responsive Admin Dashboard UI Design</h4>
            <P>Clean, intuitive, adaptive UI for engaging social media interactions online.</P>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </article>

      </div>
    </section>
                                               
                                             <!-- end of courses =================================== =====-->

    <section class="faqs">
      <h2>Frequently Asked Questions</h2>
     <div class="container faq_container">

    <article class="faq">
      <details>
        <summary>Are the courses offered on your website accredited ?</summary>
        <p class="text">While not all courses are accredited, many are developed in collaboration with reputable educational institutions and 
          industry experts, ensuring high-quality content and relevance.</p>
      </details>
    </article>

    <article class="faq">
     <details>
        <summary>Can I access course materials offline ?</summary>
        <p class="text">Depending on the course, some materials may be available for offline access through our mobile app. However, interactive
          elements typically require an internet connection.</p>
     </details>
    </article>

    <article class="faq">
     <details>
        <summary>How can I enroll in courses on your website ?</summary>
        <p class="text">To enroll in courses, simply browse through our catalog, select the desired course, and follow the enrollment instructions
          provided on the course page.</p>
     </details>
     </article>

     <article class="faq">
      <details>
        <summary>How do i knw the right course for me ?</summary>
        <p class="text">Finding the right course for you involves a combination of self-reflection and research. Begin by assessing your interests,
            strengths, and long-term career goals.</p>
      </details>
     </article>

    <article class="faq">
      <details>
        <summary>Do you offer financial aid or scholarships for courses ?</summary>
        <p class="text">Yes, we strive to make education accessible to all. We provide various financial aid options and scholarships for 
            eligible learners. Details can be found on our website.</p>
      </details>
    </article>

    <article class="faq">
     <details>
        <summary>How can I provide feedback or report issues with courses ?</summary>
        <p class="text">We value feedback from our learners. You can easily provide feedback or report any issues through our website's support system,
          and our team will promptly address them.</p>
     </details>
    </article>

   

     </div>
    </section> 
                               
    
                                             <!-- end of FAQ ======================================== =====-->
                                                
    <section class="container testimonial_container mySwiper">
      <h2>Student's Testimonials</h2>
       <div class="swiper-wrapper"> 

         <article class="testimonial swiper-slide">
          <div class="avatar">
            <img src="{% static 'images/avatar1.jpg' %}">
          </div>
          <div class="testimonial_info">
            <h5>Jennie</h5>
            <small>Student</small>
          </div>
          <div class="testimonial_body">
            <p>"User-friendly interface and comprehensive resources make learning a breeze. The interactive quizzes and tutorials
               are particularly helpful for grasping difficult concepts."</p>
          </div>
         </article>

         <article class="testimonial swiper-slide">
          <div class="avatar">
            <img src="{% static 'images/avatar2.jpg' %}">
          </div>
          <div class="testimonial_info">
            <h5>Yelo</h5>
            <small>Student</small>
          </div>
          <div class="testimonial_body">
            <p>The website offers a diverse range of subjects catered to different learning levels. However, occasional glitches in the 
              video playback feature can be frustrating."</p>
          </div>
         </article>

         <article class="testimonial swiper-slide">
          <div class="avatar">
            <img src="{% static 'images/avatar3.jpg' %}">
          </div>
          <div class="testimonial_info">
            <h5>Funky</h5>
            <small>Student</small>
          </div>
          <div class="testimonial_body">
            <p>I appreciate the frequent updates and addition of new content, keeping the material fresh and relevant. The discussion
               forums also foster a sense of community among learners.</p>
          </div>
         </article>

         <article class="testimonial swiper-slide">
          <div class="avatar">
            <img src="{% static 'images/avatar4.jpg' %}">
          </div>
          <div class="testimonial_info">
            <h5>Diana</h5>
            <small>Student</small>
          </div>
          <div class="testimonial_body">
            <p>The site's mobile compatibility makes learning on-the-go convenient. However, the search function could be improved 
              for quicker access to specific topics."</p>
          </div>
         </article>

         <article class="testimonial swiper-slide">
          <div class="avatar">
            <img src="{% static 'images/avatar5.jpg' %}">
          </div>
          <div class="testimonial_info">
            <h5>Heera</h5>
            <small>Student</small>
          </div>
          <div class="testimonial_body">
            <p>The personalized learning recommendations based on past performance are a great feature, helping users stay on track
               with their studies. Overall, a valuable resource for both students and educators alike.</p>
          </div>
         </article>

       </div>
       <div class="swiper-pagination">

       </div>
    </section>

                                            <!-- end of testimonial ================================== =====-->
{% endblock content %}






